* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
}

nav {
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 2rem 3rem;
  font-size: 1.25rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 25%;
}
