/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  color: white;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.landing-bg-image {
  background: url("https://source.unsplash.com/fPkvU7RDmCo");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(1px) brightness(80%);
          filter: blur(1px) brightness(80%);
  position: fixed;
  z-index: -10;
}

.landing-page {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
}

.header ul {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header ul a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

#logo {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .logo {
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
}

.nav ul {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav ul li:hover a {
  text-shadow: 2px 2px 5px white;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.mobile-header .menu-toggle {
  font-size: 2rem;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.mobile-header .menu-toggle:hover {
  text-shadow: 2px 2px 5px white;
  font-size: 2.1rem;
  cursor: pointer;
}

.mobile-logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.side-menu {
  position: fixed;
  margin-right: -200px;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 15rem;
  background: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.side-menu .x-wrapper {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 2rem;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.side-menu .x-wrapper:hover {
  text-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.side-menu ul {
  text-align: center;
}

.side-menu ul li {
  margin-bottom: 1.5rem;
}

.side-menu ul li:hover a {
  text-shadow: 2px 2px 5px white;
}

.hidden {
  display: none;
}

.selected {
  text-shadow: 2px 2px 5px white;
}

.show-menu {
  margin-right: 0px;
}

.hide-with-opacity {
  opacity: 0;
}

.hide-with-width {
  text-align: left;
  width: 0px !important;
  overflow: hidden;
}

.nav-beyond-landing {
  background: rgba(20, 20, 20, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-content {
  position: relative;
  line-height: 2;
  font-size: 2.5rem;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.caret {
  border-right: .05em solid;
  -webkit-animation: caret 1s steps(1) infinite;
          animation: caret 1s steps(1) infinite;
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

section {
  padding-top: 4.3rem;
  margin-bottom: 5rem;
}

.section-inner {
  background: rgba(20, 20, 20, 0.7);
  padding: 2rem;
}

.about-section-inner .profile-image {
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-section-inner p {
  font-size: 1.25rem;
  max-width: 700px;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.tile-container {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tile-container .tile {
  border: 1px solid white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px;
}

.tile-container .tile:hover {
  -webkit-box-shadow: 0px 0px 15px #23f8ff;
          box-shadow: 0px 0px 15px #23f8ff;
}

.tile-container .tile img {
  display: block;
  width: 100%;
  height: 80%;
  margin-bottom: 0;
}

.tile-container .tile .tile-tooltip {
  background-color: rgba(20, 20, 20, 0.9);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}

.tile-container .tile .tile-tooltip .tile-tooltip-x-wrapper {
  position: absolute;
  font-size: 2rem;
  top: 10px;
  right: 20px;
}

.tile-container .tile .tile-tooltip .tile-tooltip-x-wrapper:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px white;
}

.tile-container .tile .tile-tooltip .tile-tooltip-inner {
  margin: 2rem;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tile-container .tile .tile-tooltip .tile-tooltip-inner .tile-description {
  display: block;
  max-height: 90vh;
  width: 100%;
  overflow: scroll;
}

.tile-container .tile .tile-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 100, 0.8);
  padding: 1rem;
  margin-top: 0;
}

.tile-container .tile .tile-footer .tile-icons {
  font-size: 1.5rem;
}

.tile-container .tile .tile-footer .tile-icons a {
  color: white;
}

.tile-container .tile .tile-footer .tile-icons .tile-icon:hover {
  cursor: pointer;
  color: #6ef5fa;
}

.tile-container .tile .tile-footer .tile-icons .tile-icon:active {
  color: #15a3a8;
}

.hide-tooltip {
  width: 0px !important;
  height: 0px !important;
  overflow: hidden;
}

#contact {
  margin-bottom: 0px;
}

#contact-form {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

#contact-form input {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

#contact-form textarea {
  font-size: 1rem;
  width: 100%;
  height: 35vh;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

#contact-form button {
  color: white;
  background: dodgerblue;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  border: none;
  margin-bottom: 1rem;
}

#contact-form button:hover {
  background: #1872cc;
}

#contact-form button:active {
  background: #1461af;
}

.form-success {
  border: 5px solid #60fa60;
  border-radius: 15px;
  color: #60fa60;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
}

.form-failure {
  border: 5px solid #f74444;
  border-radius: 15px;
  color: #f74444;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
  overflow: scroll;
}

.form-failure a {
  color: #75ccff;
  font-size: 1.25rem;
}

/* MOBILE */
@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 651px) {
  .mobile-nav {
    display: none;
  }
}

/* COMPUTERS */
@media screen and (min-width: 1028px) {
  .tile {
    height: 20vw;
  }
}
/*# sourceMappingURL=style.css.map */