/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  color: white;
  line-height: 1.5;
  text-align: center;
}

// for responsive images
img {
  max-width: 100%;
  height: auto;
}

// static bg image
.landing-bg-image {
  background: url("https://source.unsplash.com/fPkvU7RDmCo");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px) brightness(80%);
  position: fixed;
  z-index: -10;
}

.landing-page {
  width: 100%;
  height: 100vh;
}

// nav
.header {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  ul {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      display: block;
      transition: text-shadow 0.3s;
    }
  }
}

#logo {
  transition: all 0.3s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 50;
  transition: all 0.3s;
  .logo {
    min-width: 200px;
    flex: 1;
    transition: all 0.3s;
    text-align: left;
  }
  ul {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    transition: all 0.3s;
    li {
      &:hover a {
        text-shadow: 2px 2px 5px white;
      }
    }
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .menu-toggle {
    font-size: 2rem;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 2px 2px 5px white;
      font-size: 2.1rem;
      cursor: pointer;
    }
  }
}

.mobile-logo {
  transition: opacity 0.3s;
}

.side-menu {
  position: fixed;
  margin-right: -200px;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 15rem;
  background: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .x-wrapper {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2rem;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 2px 2px 5px white;
      cursor: pointer;
    }
  }
  ul {
    text-align: center;
    li {
      margin-bottom: 1.5rem;
      &:hover a {
        text-shadow: 2px 2px 5px white;
      }
    }
  }
}

.hidden {
  display: none;
}

.selected {
  text-shadow: 2px 2px 5px white;
}

.show-menu {
  margin-right: 0px;
}

.hide-with-opacity {
  opacity: 0;
}

.hide-with-width {
  text-align: left;
  width: 0px !important;
  overflow: hidden;
}

.nav-beyond-landing {
  background: rgba(20, 20, 20, 0.9);
  justify-content: center;
}

// main content
.landing-content {
  position: relative;
  line-height: 2;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: -1;
}

section {
  padding-top: 4.3rem;
  margin-bottom: 5rem;
}

.section-inner {
  background: rgba(20, 20, 20, 0.7);
  padding: 2rem;
}

.about-section-inner {
  .profile-image {
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.25rem;
    max-width: 700px;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

// projects section

.tile-container {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  .tile {
    border: 1px solid white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0px;
    &:hover {
      box-shadow: 0px 0px 15px rgb(35, 248, 255);
    }
    img {
      width: 100%;
      height: 100%;
    }
    .tile-tooltip {
      background-color: rgba(20, 20, 20, 0.9);
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      z-index: 100;
      .tile-tooltip-x-wrapper {
        position: absolute;
        font-size: 2rem;
        top: 10px;
        right: 20px;
        &:hover {
          cursor: pointer;
          text-shadow: 2px 2px 5px white;
        }
      }
      .tile-tooltip-inner {
        margin: 2rem;
        max-width: 500px;
      }
    }
    .tile-footer {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 0px;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 100, 0.8);
      padding: 1rem;
      .tile-icons {
        font-size: 1.5rem;
        a {
          color: white;
        }
        .tile-icon:hover {
          cursor: pointer;
          color: rgb(110, 245, 250);
        }
        .tile-icon:active {
          color: rgb(21, 163, 168);
        }
      }
    }
  }
}

.hide-tooltip {
  width: 0px !important;
  height: 0px !important;
  overflow: hidden;
}

// contact section

#contact {
  margin-bottom: 0px;
}

#contact-form {
  font-size: 1.5rem;
  margin-top: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  transition: height 0.3s;
  input {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem;
  }
  textarea {
    font-size: 1rem;
    width: 100%;
    height: 35vh;
    margin-bottom: 1rem;
    padding: 0.25rem;
  }
  button {
    color: white;
    background: dodgerblue;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    margin-bottom: 1rem;
    &:hover {
      background: rgb(24, 114, 204);
    }
    &:active {
      background: rgb(20, 97, 175);
    }
  }
}

.form-success {
  border: 5px solid rgb(96, 250, 96);
  border-radius: 15px;
  color: rgb(96, 250, 96);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
}

.form-failure {
  border: 5px solid rgb(247, 68, 68);
  border-radius: 15px;
  color: rgb(247, 68, 68);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
  overflow: scroll;
  a {
    color: rgb(117, 204, 255);
    font-size: 1.25rem;
  }
}

/* MOBILE */
@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }

  .tile-container {
    grid-template-columns: 1fr;
  }

  #contact-form {
    width: 100%;
  }
}

/* TABLET */
@media screen and (min-width: 651px) {
  .mobile-nav {
    display: none;
  }

  .tile-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* COMPUTERS */
@media screen and (min-width: 980px) {
  .tile-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
