/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  color: white;
  line-height: 1.5;
}

// for responsive images
img {
  max-width: 100%;
  height: auto;
}

.landing-bg-image {
  background: url("https://source.unsplash.com/fPkvU7RDmCo");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px) grayscale(0%) brightness(80%);
  position: absolute;
}

.landing-page {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  ul {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      display: block;
      transition: text-shadow 0.3s;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  .logo {
    min-width: 200px;
    flex: 1;
  }
  ul {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    li {
      &:hover a {
        text-shadow: 2px 2px 5px white;
      }
    }
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .menu-toggle {
    font-size: 2rem;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 2px 2px 5px white;
      cursor: pointer;
    }
  }
}

.side-menu {
  position: fixed;
  margin-right: -200px;
  top: 0px;
  right: 0px;
  width: 200px;
  background: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .x-wrapper {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2rem;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 2px 2px 5px white;
      cursor: pointer;
    }
  }
  ul {
    text-align: center;
    li {
      margin-bottom: 1.5rem;
      &:hover a {
        text-shadow: 2px 2px 5px white;
      }
    }
  }
}

.hidden {
  display: none;
}

.selected {
  text-shadow: 2px 2px 5px white;
}

.show-menu {
  margin-right: 0px;
}

.hide-toggle {
  opacity: 0;
}

/* MOBILE */
@media screen and (max-width: 615px) {
  .nav {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 616px) {
  .mobile-nav {
    display: none;
  }
}
