/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  color: white;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.landing-bg-image {
  background: url("https://source.unsplash.com/fPkvU7RDmCo");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(1px) brightness(80%);
          filter: blur(1px) brightness(80%);
  position: fixed;
  z-index: -1;
}

.landing-page {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
}

.header ul {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header ul a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .logo {
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav ul {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav ul li:hover a {
  text-shadow: 2px 2px 5px white;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.mobile-header .menu-toggle {
  font-size: 2rem;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.mobile-header .menu-toggle:hover {
  text-shadow: 2px 2px 5px white;
  font-size: 2.1rem;
  cursor: pointer;
}

.mobile-logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.side-menu {
  position: fixed;
  margin-right: -200px;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 15rem;
  background: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.side-menu .x-wrapper {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 2rem;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}

.side-menu .x-wrapper:hover {
  text-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.side-menu ul {
  text-align: center;
}

.side-menu ul li {
  margin-bottom: 1.5rem;
}

.side-menu ul li:hover a {
  text-shadow: 2px 2px 5px white;
}

.hidden {
  display: none;
}

.selected {
  text-shadow: 2px 2px 5px white;
}

.show-menu {
  margin-right: 0px;
}

.hide-with-opacity {
  opacity: 0;
}

.nav-beyond-landing {
  background: rgba(20, 20, 20, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-content {
  position: relative;
  line-height: 2;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

section {
  padding-top: 4.3rem;
  margin-bottom: 5rem;
}

.section-inner {
  border: 1px solid blue;
  height: calc(100vh - 4.3rem);
  background: rgba(20, 20, 20, 0.8);
}

.section-inner h1 {
  margin-top: 1rem;
}

.section-inner .profile-image {
  border-radius: 50%;
  margin-top: 1rem;
}

.projects-section-inner {
  border: 1px solid green;
}

.contact-section-inner {
  border: 1px solid yellow;
}

/* MOBILE */
@media screen and (max-width: 615px) {
  .nav {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 616px) {
  .mobile-nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */